.hdr .gallery {
  height: 200px;
  background: #8c2b8c;
}
.hdr .navlinks { text-align: center; }
.hdr .navlinks ul {
  list-style: none;
  padding-left: 0px;
}
.hdr .navlinks ul li { display: inline; }
.hdr .navlinks ul li a {
  color: #d997d9;
  background: #8c2b8c;
  padding: 4px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
  font-size: 120%;
  border: 1px solid #8c2b8c;
  border-radius-topleft: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topright: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-bottomleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
}
.pagetitle { border-bottom: 1px solid #dddddd; }
.pagecnt {
  text-align: justify;
  text-justify: newspaper;
}
.pagecnt ol { margin-left: 30px; }
.pagecnt ol li { padding-top: 10px; }
.pagecnt .subtitle {
  font-family: Arial;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
  color: #999999;
  text-align: center;
}
.cnt {
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 30px;
  background: #ffffff;
  color: #333333;
  font-family: Georgia;
  font-size: 160%;
}
.cnt h1 {
  font-size: 140%;
  font-family: Georgia;
}
.leftsb { margin-top: 30px; }
.leftsb .leftsbl {
  border: 1px solid #cccccc;
  background: #fdfdfd;
  padding: 4px;
  list-style: none;
}
.leftsb .leftsbl li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid #cccccc;
}
.leftsb .leftsbl li a {
  color: #666666;
  font-size: 120%;
  text-decoration: none;
  display: block;
}
.leftsb .leftsbl li:hover { background: #eeeeee; }
.leftsb .leftsbl .endli { border-bottom: 0px; }
.rightsb {
  margin-top: 30px;
  padding-left: 10px;
}
.rightsb .rightsbl {
  border: 1px solid #cccccc;
  text-align: right;
  background: #fdfdfd;
  padding: 4px;
  list-style: none;
}
.rightsb .rightsbl li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  border-bottom: 1px solid #cccccc;
}
.rightsb .rightsbl li a {
  color: #666666;
  font-size: 120%;
  text-decoration: none;
  display: block;
}
.rightsb .rightsbl li:hover { background: #eeeeee; }
.rightsb .rightsbl .endli { border-bottom: 0px; }
.rightsb .sbbox {
  margin-top: 30px;
  border: 1px solid #cccccc;
  padding: 4px;
}
.rightsb .sbbox .boxtitle {
  font-weight: bold;
  font-size: 110%;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
.rightsb .sbbox .boxcontent { margin-top: 10px; }
#mapinfo { display: none; }
.maplink {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.maplink a {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 80%;
  background: #666666;
  padding: 3px;
  text-decoration: none;
}
p { margin-bottom: 10px; }
p label {
  text-transform: uppercase;
  font-size: 60%;
  font-family: Arial;
}
p .rememberlabel { font-weight: normal; }
p input {
  margin-top: 0em;
  margin-bottom: 0em;
}
p input[type="password"] {
  margin-top: 0em;
  margin-bottom: 0em;
}
p input[type="text"] {
  margin-top: 0em;
  margin-bottom: 0em;
}
