<h1 class="pagetitle">Listing Pages</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= link_to board.name,board %></td>
    <td>
      <%- if board.id!=9 %>
        <%= link_to 'Edit', edit_board_path(board) %>
      <%- end %>
    </td>
    <td>
      <%- if board.id!=1 and board.id!=9 %>
        <%= link_to 'Destroy', board, :confirm => 'Are you sure?', :method => :delete %>
      <%- end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_board_path %>
