!!!
%html
  %head
    %title
      My app
    =stylesheet_link_tag "screen"
    =stylesheet_link_tag "site"
    =stylesheet_link_tag "facebox"
    =javascript_include_tag "jquery"
    =javascript_include_tag "facebox"
    =javascript_include_tag "rotate"
    =javascript_include_tag "corner"
    =javascript_include_tag "rails"
    =javascript_include_tag "application"

    =csrf_meta_tag

  %body
    %div{:class=>"container"}
      %div{:class=>"span-24 hdr"}
        .gallery all pics here

      %div{:class=>"span-4 first leftsb"}
        %ul{:class=>"leftsbl"}
          %li
            %a{:href=>"#"}About Us
          %li
            %a{:href=>"#"}Our Mission
          %li
            %a{:href=>"#"}Our Vision
          %li
            %a{:href=>"#"}The Campus
          %li
            %a{:href=>"#"}Landmark Events
          %li{:class=>"endli"}
            %a{:href=>"#"}Reminiscences

        %p
          =image_tag "rails.png", :id=>"railspic", :class=>"rimg"
      %div{:class=>"span-15 cnt"}
        %div{:class=>"cntWrapper"}
          -if notice
            %p{:class=>"notice"}
              =notice
          =yield
      %div{:class=>"span-4 last rightsb"}
        %ul{:class=>"rightsbl"}
          %li
            %a{:href=>"#"}Curriculum
          %li
            %a{:href=>"#"}Extra-Curriculum
          %li
            %a{:href=>"#"}Rules & Regulations
          %li
            %a{:href=>"#"}Admission
          %li
            %a{:href=>"#"}Notice
          %li
            %a{:href=>"#"}Calendar
          %li{:class=>"endli"}
            =link_to "Contact Us", "/contacts/cform"

        .sbbox
          .boxcontent
            %a{:href=>"#mapinfo", :rel=>"facebox"}
              %img{:src=>"http://maps.google.com/maps/api/staticmap?zoom=10&center=12.980639,80.146208&markers=size=mid|color:red|12.980639,80.146208&size=140x140&sensor=false"}
            .maplink
              %a{:href=>"#mapinfo", :rel=>"facebox"}
                view map
            %div{:id=>"mapinfo"}
              %img{:src=>"http://maps.google.com/maps/api/staticmap?zoom=14&center=12.980639,80.146208&markers=size=mid|color:red|12.980639,80.146208&size=500x340&sensor=false"}
                