!!!
%html
  %head
    %title
      My app
    =stylesheet_link_tag "screen"
    =stylesheet_link_tag "site"
    =javascript_include_tag "jquery"
    =javascript_include_tag "rotate"
    =javascript_include_tag "rails"
    =javascript_include_tag "application"

    =csrf_meta_tag

  %body
    %div{:class=>"container"}
      %div{:class=>"span-24 hdr"}
        .gallery all pics here
        .navlinks
          %ul
            %li
              %a{:href=>"#"}Home
            %li
              %a{:href=>"#"}Admissions
            %li
              %a{:href=>"#"}The Campus
            %li
              %a{:href=>"#"}Gallery
            %li
              %a{:href=>"#"}Contact Us
      %div{:class=>"span-4 first leftsb"}
        %ul{:class=>"leftsbl"}
          %li
            %a{:href=>"#"}About Us
          %li
            %a{:href=>"#"}Our Mission
          %li
            %a{:href=>"#"}Our Vision
          %li
            %a{:href=>"#"}The Campus
          %li
            %a{:href=>"#"}Landmark Events
          %li
            %a{:href=>"#"}Reminiscences

        %p
          =image_tag "rails.png", :id=>"railspic", :class=>"rimg"
      %div{:class=>"span-15 cnt"}
        %div{:class=>"cntWrapper"}
          -if notice
            %p{:class=>"notice"}
              =notice
          =yield
      %div{:class=>"span-4 last rightsb"}
        %ul{:class=>"rightsbl"}
          %li
            %a{:href=>"#"}Curriculum
          %li
            %a{:href=>"#"}Extra-Curriculum
          %li
            %a{:href=>"#"}Rules & Regulations
          %li
            %a{:href=>"#"}Admission
          %li
            %a{:href=>"#"}Notice
          %li
            %a{:href=>"#"}Calendar
          %li
            =link_to "Contact Us", "/contacts/cform"
          %li
            %a{:href=>"#"}Map