!!!
%html
  %head
    %title
      My app
    =stylesheet_link_tag "screen"
    =stylesheet_link_tag "site"
    =javascript_include_tag "jquery"
    =javascript_include_tag "rotate"
    =javascript_include_tag "rails"
    =javascript_include_tag "application"

    =csrf_meta_tag

  %body
    %div{:class=>"container"}
      %div{:class=>"span-24 hdr"}
        .gallery all pics here
        .navlinks
          %ul
            %li
              %a{:href=>"#"}Home
            %li
              %a{:href=>"#"}Admissions
            %li
              %a{:href=>"#"}The Campus
            %li
              %a{:href=>"#"}Gallery
            %li
              %a{:href=>"#"}Contact Us
      %div{:class=>"span-4 first leftsb"}
        one sidebar
        =image_tag "rails.png", :id=>"railspic", :class=>"rimg"
      %div{:class=>"span-16 cnt"}
        = yield
      %div{:class=>"span-4 last rightsb"}
        another sidebar